@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
#ham-menu {
  display: none;
}

label[for="ham-menu"] {
  display: block;
  position: fixed;
  top: 24px;
  left: 10px;
  z-index: 999;
  width: 60px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 2px solid white;
}

.ham-menu {
  width: 100vw;
  height: 100px;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-menu ul {
  width: 80%;
  display: flex;
  flex-flow: row;
  margin-left: 70px;
  justify-content: space-between;
  height: 100%;
  list-style: none;
  align-items: center;
}
.ham-menu a {
  font-size: 1rem;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
.ham-menu a:hover {
  color: #efc137;
}

#ham-menu:checked + label {
  background-color: transparent;
  border-color: white;
}

#ham-menu:checked ~ div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}

[for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: white;
  transition: 500ms;
  transform-origin: right center;
}

[for="ham-menu"] div span:nth-child(4),
[for="ham-menu"] div span:nth-child(5),
[for="ham-menu"] div span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}

#ham-menu:checked + label span {
  background-color: white;
}

#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
  transform: scale(0);
}

#ham-menu:checked + label span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}

#ham-menu:checked + label span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
}

#ham-menu:checked + label span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}

#ham-menu:checked + label span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  position: fixed;
  bottom: 0;
}
footer p {
  color: #efc137;
  text-align: center;
  font-family: "Satisfy", cursive;
}
footer ul {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  align-items: center;
}
footer a {
  color: white;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #3c3b3f;
  background: -webkit-linear-gradient(to right, #605c3c, #3c3b3f);
}

main {
  margin: 20px 40px;
}
main h1 {
  text-align: center;
}
main .fa-solid {
  color: #efc137;
  font-size: 2rem;
  margin-bottom: 10px;
}
main p,
main h4 {
  text-align: center;
  margin: 5px 0;
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main a {
  text-decoration: none;

  color: rgb(249, 243, 236);
}
.card {
  color: rgb(249, 243, 236);
}

@media screen and (max-width: 480px) {
  .nav2 {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgb(0, 0, 0) 31%,
      rgb(52, 52, 52) 88%,
      rgb(109, 109, 109) 100%
    );
    border-width: 6px;
    border-style: solid;
    -o-border-image: linear-gradient(to bottom, #efc137, rgba(0, 0, 0, 0)) 1
      100%;
    border-image: linear-gradient(to bottom, #efc137, rgba(0, 0, 0, 0)) 1 100%;
  }
  .nav2 ul {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 2rem;
  }
  .nav2 a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .nav2 a:hover {
    color: #efc137;
  }
  h1 {
    margin-top: 10rem;
  }
  .container {
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer p {
    font-size: 1.2rem;
  }
  footer a {
    font-size: 2rem;
  }
} /*# sourceMappingURL=contact.css.map */
