@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/2841153.jpg);
  background-size: cover;
  background-position: center;
  font-family: futura-pt, sans-serif;
  width: 100vw;
  height: 100vh;
}

#ham-menu {
  display: none;
}

label[for="ham-menu"] {
  display: block;
  position: fixed;
  top: 24px;
  left: 10px;
  z-index: 999;
  width: 60px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 2px solid white;
}

.ham-menu {
  width: 100vw;
  height: 100px;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-menu ul {
  width: 80%;
  display: flex;
  flex-flow: row;
  margin-left: 70px;
  justify-content: space-between;
  height: 100%;
  list-style: none;
  align-items: center;
}
.ham-menu a {
  font-size: 1rem;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
.ham-menu a:hover {
  color: #efc137;
}

#ham-menu:checked + label {
  background-color: transparent;
  border-color: white;
}

#ham-menu:checked ~ div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}

[for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: white;
  transition: 500ms;
  transform-origin: right center;
}

[for="ham-menu"] div span:nth-child(4),
[for="ham-menu"] div span:nth-child(5),
[for="ham-menu"] div span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}

#ham-menu:checked + label span {
  background-color: white;
}

#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
  transform: scale(0);
}

#ham-menu:checked + label span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}

#ham-menu:checked + label span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
}

#ham-menu:checked + label span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}

#ham-menu:checked + label span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
}
.myPhoto {
  width: 150px;
  height: 150px;
  background-image: url(./images/unnamed.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10rem;
  box-shadow: 0 0 2rem #efc137;
}
h1 {
  font-size: 2rem;
}

#container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
#container .blink-01 {
  position: relative;
  -webkit-animation: blink01 1s infinite alternate;
  animation: blink01 1s infinite alternate;
}
#container .blink-01::before {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  filter: blur(40px);
  width: 100%;
  height: 100%;
  content: "";
  -webkit-animation: bg_blink01 1s infinite alternate;
  animation: bg_blink01 1s infinite alternate;
}
#container .blink-01::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(20px);
  content: "Blinking";
  -webkit-animation: blink01 1s infinite alternate;
  animation: blink01 1s infinite alternate;
}
#container .blink-02 {
  position: relative;
  -webkit-animation: blink02 1s infinite alternate;
  animation: blink02 1s infinite alternate;
}
#container .blink-02::before {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  filter: blur(40px);
  width: 100%;
  height: 100%;
  content: "";
  -webkit-animation: bg_blink02 1s infinite alternate;
  animation: bg_blink02 1s infinite alternate;
}
#container .blink-02::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(20px);
  content: "Text";
  -webkit-animation: blink02 1s infinite alternate;
  animation: blink02 1s infinite alternate;
}

@-webkit-keyframes blink01 {
  0% {
    color: #efc137;
  }
  100% {
    color: #bafff4;
  }
}

@keyframes blink01 {
  0% {
    color: #efc137;
  }
  100% {
    color: #bafff4;
  }
}
@-webkit-keyframes blink02 {
  0% {
    color: #bafff4;
  }
  100% {
    color: #efc137;
  }
}
@keyframes blink02 {
  0% {
    color: #bafff4;
  }
  100% {
    color: #efc137;
  }
}
@-webkit-keyframes bg_blink01 {
  0% {
    filter: blur(40px);
    background-color: #efc137;
  }
  100% {
    filter: blur(40px);
    background-color: #bafff4;
  }
}
@keyframes bg_blink01 {
  0% {
    filter: blur(40px);
    background-color: #efc137;
  }
  100% {
    filter: blur(40px);
    background-color: #bafff4;
  }
}
@-webkit-keyframes bg_blink02 {
  0% {
    filter: blur(40px);
    background-color: #bafff4;
  }
  100% {
    filter: blur(40px);
    background-color: #efc137;
  }
}
@keyframes bg_blink02 {
  0% {
    filter: blur(40px);
    background-color: #bafff4;
  }
  100% {
    filter: blur(40px);
    background-color: #efc137;
  }
}
#quote {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
#quote .p1,
#quote .p2 {
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
#quote .p2 {
  color: #efc137;
}

footer {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}
footer p {
  color: #efc137;
  text-align: center;
  font-family: "Satisfy", cursive;
}
footer ul {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  align-items: center;
}
footer a {
  color: white;
  font-size: 1.5rem;
}
footer .copyRight {
  margin-bottom: 0;
  color: white;
  font-size: 0.5rem;
}

@media screen and (max-width: 480px) {
  .nav2 {
    display: none;
  }
  h1 {
    font-size: 3rem;
  }
  .p1,
  .p2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 480px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgb(0, 0, 0) 31%,
      rgb(52, 52, 52) 88%,
      rgb(109, 109, 109) 100%
    );
    border-width: 6px;
    border-style: solid;
    -o-border-image: linear-gradient(to bottom, #efc137, rgba(0, 0, 0, 0)) 1
      100%;
    border-image: linear-gradient(to bottom, #efc137, rgba(0, 0, 0, 0)) 1 100%;
  }
  .nav2 ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 2rem;
  }
  .nav2 a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .nav2 a:hover {
    color: #efc137;
  }
  .myPhoto {
    width: 200px;
    height: 200px;
  }
  h1 {
    font-size: 6rem;
  }
  #quote .p1,
  #quote .p2 {
    font-size: 2.5rem;
  }
  footer p {
    font-size: 1.2rem;
  }
  footer a {
    font-size: 2rem;
  }
} /*# sourceMappingURL=main.css.map */
