@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import "./variables.scss";
@import "./nav.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #3c3b3f;
  background: -webkit-linear-gradient(to right, #605c3c, #3c3b3f);
}

h1 {
  text-align: center;
  margin-top: 1rem;
  color: $secondary-color;
  font-size: 3rem;
}
main {
  padding: 2rem;
  div {
    height: 20rem;
    margin: 2rem 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .one {
    background-image: url(./images/01.jpg);
  }
  .two {
    background-image: url(./images/02.jpg);
  }
  .three {
    background-image: url(./images/03.jpg);
  }
  .four {
    background-image: url(./images/04.jpg);
  }
  .five {
    background-image: url(./images/05.jpg);
  }
  .six {
    background-image: url(./images/06.jpg);
  }
  .seven {
    background-image: url(./images/07.jpg);
  }
  .eight {
    background-image: url(./images/08.png);
  }
  .nine {
    background-image: url(./images/09.jpg);
  }
  .ten {
    background-image: url(./images/10.png);
  }
  .eleven {
    background-image: url(./images/11.jpg);
  }
  .twelve {
    background-image: url(./images/12.jpg);
  }
  div:hover {
    border: 1rem solid white;
  }
}

@media screen and (min-width: 480px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }
}
