$primary-bg-color: rgb(0, 0, 0);
$secondary-bg-color: #efc137;
$third-bg-color: #bafff4;
$primary-color: white;
$secondary-color: #efc137;
$font: "Satisfy", cursive;
$primary-font-size: 1rem;
$secondary-font-size: 2rem;
$primary-size: 1rem;
$secondary-size: 2rem;
$primary-width: 100%;
$primary-height: 100%;
